#titulo-principal {
    background-color: black;
    color: red;

}
.numerados{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    background-color: aquamarine;

}
#p1{
    background-color: cadetblue;
    color: tomato;
}